# ROHAN T

# Importing the necessary libraries

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Importing the dataset

In [2]:
 df = pd.read_csv(r"C:\Users\ROHAN\Desktop\Oasis Infobyte\Task 3 EmailSpam\DATA\spam.csv",encoding = ('ISO-8859-1'),low_memory=False)

# To view the dataset

In [3]:
df.head()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN

In [4]:
df.tail()

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

# Giving relevant name to columns

In [5]:
df.rename(columns={'v1':'SPAM OR HAM'},inplace = True)
df.rename(columns={'v2':'MAIL'},inplace = True)

In [6]:
df

,SPAM OR HAM,MAIL,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

# To get a basic understanding about the data

In [7]:
df.describe()

,SPAM OR HAM,MAIL,Unnamed: 2,Unnamed: 3,Unnamed: 4
count,5572,5572,50,12,6
unique,2,5169,43,10,5
top,ham,"Sorry, I'll call later","bt not his girlfrnd... G o o d n i g h t . . .@""","MK17 92H. 450Ppw 16""","GNT:-)"""
freq,4825,30,3,2,2

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SPAM OR HAM  5572 non-null   object
 1   MAIL         5572 non-null   object
 2   Unnamed: 2   50 non-null     object
 3   Unnamed: 3   12 non-null     object
 4   Unnamed: 4   6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

# As we can see there are three unnecessary columns

In [9]:
df=df.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'],axis=1)

# To check if there are any null values or duplicated values

In [10]:
df.isnull().sum()

SPAM OR HAM    0
MAIL           0
dtype: int64

In [11]:
df.duplicated().sum()

403

In [12]:
df=df.drop_duplicates()

In [13]:
df.duplicated().sum()

0

# All the duplicates have been removed

# Building the model

In [14]:
X = df['MAIL']
y = df['SPAM OR HAM']

In [15]:
from sklearn.preprocessing import LabelEncoder
encoder = LabelEncoder()
df['SPAM OR HAM'] = encoder.fit_transform(df['SPAM OR HAM'])

# Splitting the dataset into training and testing

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.3,random_state=1)

# For Naive bayes classifier it is necessary to use vectorizer

In [21]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [22]:
tfidf = TfidfVectorizer()

In [23]:
X_train_count = tfidf.fit_transform(X_train.values)
X_train_count.toarray()

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [24]:
from sklearn.naive_bayes import MultinomialNB
model = MultinomialNB()
model.fit(X_train_count, y_train)

MultinomialNB()

# Evaluating the model

In [25]:
X_test_count = tfidf.transform(X_test)
model.score(X_test_count,y_test)

0.9445519019987105

# THANK YOU